.page {
  background: white;
  overflow-y: scroll;
}

.welcome {
  background: #f7f7f7;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  color: #39527b;
  padding: 32px 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.navigations {
  background: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
  font-size: 12px;
}

.main-navigation {
  color: #39527b;
}

.sub-navigation {
  color: #7f7f7f;
}
